<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <!--
    <add name="master-aimar" connectionString="Server=10.10.1.20; Port=5432; User Id=user_manager; Password=uS3rr0daRts1niMda; Database=master-aimar"/>
    <add name="master-aimar-demo" connectionString="Server=10.10.1.20; Port=5432; User Id=user_manager; Password=uS3rr0daRts1niMda; Database=master-aimar_demo"/>
    -->
    <!--
    <add name="db_accesos" connectionString="Server=localhost; Port=5432; User Id=postgres; Password=aimar; Database=accesos"/>
    <add name="master-aimar" connectionString="Server=10.10.1.20; Port=5432; User Id=user_manager; Password=uS3rr0daRts1niMda; Database=master-aimar"/>
    <add name="db_aereo" connectionString="host=10.10.1.18; database=db_aereo; username=user_manager; password=uS3rr0daRts1niMda"/>
    <add name="db_terrestre" connectionString="host=10.10.1.18; database=db_terrestre; username=user_manager; password=uS3rr0daRts1niMda"/>
    <add name="db_manifiestos_cr" connectionString="Server=10.10.1.20; Port=5432; User Id=user_manager; Password=uS3rr0daRts1niMda; Database=ventas_cr"/>
    <add name="db_manifiestos_crltf" connectionString="Server=10.10.1.20; Port=5432; User Id=user_manager; Password=uS3rr0daRts1niMda; Database=ventas_crltf"/>
    <add name="db_manifiestos_cr_demo" connectionString="Server=10.10.1.20; Port=5432; User Id=user_manager; Password=uS3rr0daRts1niMda; Database=ventas_cr_demo"/>
    <add name="db_aereo_demo" connectionString="host=10.10.1.18; database=db_aereo_demo; username=user_manager; password=uS3rr0daRts1niMda"/>
    <add name="db_terrestre_demo" connectionString="host=10.10.1.18; database=db_terrestre_demo; username=user_manager; password=uS3rr0daRts1niMda"/>
    <add name="db_customer" connectionString="host=10.10.1.18; database=customer_bk; username=user_manager; password=uS3rr0daRts1niMda"/>
    <add name="db_wms" connectionString="host=10.10.1.18; database=WMS_PRUEBAS3; username=user_manager; password=uS3rr0daRts1niMda"/>        
    <add name="db_caja" connectionString="host=10.10.1.22; database=caja_regional; username=user_manager; password=uS3rr0daRts1niMda"/>
    -->
    <!-- 176.16.0.188 -->
  </connectionStrings>
  <system.web>
    <!-- 
            Opciones de Visual Basic:
            Establezca strict="true" para no permitir las conversiones de todos los 
            tipos de datos donde se pueda producir una pérdida de datos. 
            Establezca explicit="true" para forzar la declaración de todas las variables.
        -->
    <compilation debug="true" strict="false" explicit="true">
      
      <!--<assemblies>       2014-05-09 
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>-->
      
    </compilation>
    <!--
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    -->
    <!--
          La sección <authentication> habilita la configuración 
          del modo de autenticación de seguridad que usa 
          ASP.NET para identificar a un usuario entrante. 
        -->
    <authentication mode="Windows"/>
    <!--
           La sección <customErrors> habilita la configuración de 
           las acciones que se deben realizar si un error no controlado tiene lugar
           durante la ejecución de una solicitud. En concreto, 
           permite a los desarrolladores configurar páginas de error html 
           que se mostrarán en lugar de un seguimiento de pila de errores.
     -->
    
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>

    <!--
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">      
    enableEventValidation="false"  para correjir errores en grid usuarios default.aspx y del menu en ct_menu.aspx
    -->
    <!--clientIDMode="AutoID" 2014-05-09 -->
    <pages enableEventValidation="false" >
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <!--
        <add namespace="System.Linq"/>
        <add namespace="System.Xml.Linq"/>
        -->
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <!--              
                <add value="Default.aspx" />
                2014-03-18 
                -->
      </files>
    </defaultDocument>
  </system.webServer>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASP.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
</configuration>